.discussion {
  list-style: none;
  margin: 0;
  padding: 0 0 50px 0;
}
.discussion li {
  padding: 0.5rem;
  overflow: hidden;
  display: flex;
}
.discussion .avatar {
  width: 40px;
  min-width: 40px;
  position: relative;
}
.discussion .avatar img {
  display: block;
  width: 100%;
  min-width: 40px;
}

.other .avatar:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #e5e5e5;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .messages {
  order: 1;
  border-bottom-right-radius: 0;
}
.self .avatar {
  order: 2;
}
.self .avatar:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid #e5e5e5;
  border-right-color: transparent;
  border-top-color: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.messages {
  background: #e5e5e5;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.messages p {
  font-size: 0.8rem;
  margin: 0 0 0.2rem 0;
      font-family: "Montserrat", monospace;
}
.messages time {
  font-size: 0.7rem;
  color: #69a220;
}
.footer-app {
	
		align-items: center;
		background: #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
		height: 3em;
		position: fixed;
		bottom: 0px;
		text-align: left;
		min-width: 320px;
		width: 100%;
		align-items: center;
		background: #fff;
		cursor: default;
		left: 0;
		line-height: 3em;
		z-index: 10001;
	}

input.chat{
	
		background: rgba(144, 144, 144, 0.075);
		border-radius: 4px;
		border: none;
		border: solid 1px #dee1e3;
		color: inherit;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 85%;
	}
  